@import '../../assets/css/main.css';

.mainContainer {
	position: sticky;
	top: 0;
	width: 100vw;
	color: black;
	background-color: white;
	z-index: 8;
	transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.scrolled {
	background-color: rgba(0, 0, 0, 0.159);
	backdrop-filter: blur(5px);
	color: white;
	font-size: 0.8rem;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 0.8rem 0 0;
}

.logoContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.logoContainer:hover {
	transform: scale(1.07);
	transition: transform 0.3s ease;
}

.imageContainer {
	width: 4rem;
	height: 4rem;
	position: relative;
	animation: rotateAnimation 2s linear infinite;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@keyframes rotateAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.logoContainer h2 {
	font-size: 2rem;
	font-style: oblique;
}

.menuContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----------------Logged out menu styles----------------- */
.loggedOutMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
	gap: 1rem;
}

.button {
	width: 10rem;
	padding: 0.5rem 0.5rem;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	user-select: none;
}
.button:hover,
.button:active {
	transform: scale(1.05);
	transition: transform 0.3s ease;
}
.registerButton {
	background-color: var(--button-red);
}
.signInButton {
	background-color: var(--button-blue);
}

/* ------------------LoggedIn menu styles---------------- */
.loggedInMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.bookmarksButton {
	background-color: var(--button-red);
}
.BookMarkIcon {
	height: 2rem;
	fill: white;
	stroke: wheat;
}

.addStorybutton {
	background-color: var(--button-red);
}

.profilePicContainer {
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	border: 1px solid black;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.profilePicContainer:hover,
.profilePicContainer:active {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}
.profilePicContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.burgerIcon {
	position: relative;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
.burgerIcon:hover,
.burgerIcon:active {
	transform: scale(1.3);
	transition: transform 0.3s ease;
}

.userMenu {
	position: absolute;
	/* height: 0; */
	padding: 1rem;
	/* overflow: hidden; */
	top: 3.5rem;
	right: 1rem;
	width: 15em;
	height: 10rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: var(--white-color);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	animation: fadeIn 0.3s ease-in forwards;
	transform-origin: top right;
	transform: scale(0);
	opacity: 0;
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.userMenu p {
	font-size: 0.8rem;
	font-weight: bold;
	color: black;
}

.logoutButton {
	height: 2rem;
	width: max-content;
	padding: 0.5rem 1rem;
	background-color: var(--button-red);
}
