@import '../../assets/css/main.css';

.mainContainer {
	position: relative;
	width: 15rem;
	height: 15rem;
	overflow: hidden;
	border-radius: 25px;
}

.mainContainer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.564);
	z-index: 1;
}


.mainContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	backdrop-filter: blur(10px);
}

.loading {
	filter: blur(20px);
}

.mainContainer:active,
.mainContainer:hover {
	border: 5px solid var(--border-blue);
}
.active {
	border: 6px solid var(--border-blue);
}

.mainContainer p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	color: white;
	text-transform: capitalize;
	font-weight: bold;
	z-index: 2;
}

@media screen and (max-width: 700px) {
	.mainContainer {
		width: 8rem;
		height: 8rem;
	}
	.mainContainer p {
		font-size: 1rem;
	}
}