@import '../../../assets/css/main.css';

.storyProgresscontainer {
    display: flex; /* Enable flexbox */
    width: 100%; /* Set the width of the container to fill its parent */
    gap: 4px; /* Optional: Adds space between child elements */
}

.storyProgressItem {
    flex: 1; /* Each child will take equal space */
    background-color: gray; /* Just for visibility */
    border-radius: 10px;
}

.storyProgressBar {
    height: 4px; /* Set a fixed height for the progress bar */
    background-color: white; /* Color of the progress bar */
    width: auto; /* Auto width to fill its container */
    border-radius: 10px;
}